<div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="nav-sidebar">
        <ul class="nav">
            <li>
                <a routerLink="/mainpage">
                    <i class="glyphicon glyphicon-dashboard"></i>
                    Dashboard
                </a>
            </li>

            <li >
                <a  href="#contentsubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="glyphicon glyphicon-book"></i>
                    Content
                </a>
                <ul class="collapse list-unstyled" id="contentsubmenu">
                    <li class="active"><a routerLink="/FileContent">Content From File</a></li>
                    <li><a routerLink="/WebContent">Web Content</a></li>
                    <li><a routerLink="/CreamsonContent">Creamson Content</a></li>
                </ul>
            </li>
            <li >
                <a href="#readingsubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="glyphicon glyphicon-duplicate"></i>
                    Reading
                </a>
                <ul class="collapse list-unstyled" id="readingsubmenu">
                    <li><a routerLink="/ReadingStrategy">Reading Strategy</a></li>
                    <li><a routerLink="/Reading">Reading Topic</a></li>
                    
                </ul>
            </li>
            <li >
                <a href="#writingsubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="glyphicon glyphicon-pencil"></i>
                    Writing
                </a>
                <ul class="collapse list-unstyled" id="writingsubmenu">
                    <li><a routerLink="/WritingStrategy">Writing Strategy</a></li>
                    <li><a routerLink="/Writing">Writing Topic</a></li>
                    
                </ul>
            </li>
     
            <li >
                <a href="#speakingsubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="glyphicon glyphicon-bullhorn"></i>
                    Speaking
                </a>
                <ul class="collapse list-unstyled" id="speakingsubmenu">
                    <li><a routerLink="/SpeakingStrategy">Speaking Strategy</a></li>
                    <li><a routerLink="/Phonetics">Phonetics</a></li>
                    <li><a routerLink="/SpeakingActvity">Speaking Activity</a></li>
                    
                </ul>
            </li>
            <li >
                <a href="#listeningsubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="glyphicon glyphicon-headphones"></i>
                    Listening
                </a>
                <ul class="collapse list-unstyled" id="listeningsubmenu">
                    <li><a routerLink="/ListeningStrategy">Listening Strategy</a></li>
                    <li><a routerLink="/Listening">Listening Topic</a></li>
                    <li><a routerLink="/Games">Be A Lyricist</a></li>
                    <li><a routerLink="/Games">Dictation</a></li>
                </ul>
            </li>
            <li >
                <a href="#vocabularysubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="glyphicon glyphicon-text-size"></i>
                    Vocabulary
                </a>
                <ul class="collapse list-unstyled" id="vocabularysubmenu">
                    <li><a routerLink="/IntroVocabulary">Introduction To Vocabulary</a></li>
                    
                    <li><a routerLink="/Working">Computer Games</a></li>
                    
                </ul>
            </li>
            <li >
                <a href="#grammarsubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="glyphicon glyphicon-text-background"></i>
                    Grammar
                </a>
                <ul class="collapse list-unstyled" id="grammarsubmenu">
                    <li><a routerLink="/IntGrammar">Introduction To Grammar</a></li>
                    
                    <li><a routerLink="/Grammar">Grammar Topics</a></li>
                    
                </ul>
            </li>
            <li>
                <a routerLink="/Myactivity">
                    <i class="glyphicon glyphicon-briefcase"></i>
                    My Activity
                </a>
            </li>
            
        </ul>

    </div>
    <!--/.well -->
</div>
<!--/span-->


