
    <!-- Container -->
  <div class="container-fluid bg-3 text-center">

     <h3 class="scr-head">Audio Recorder</h3><br>

    <div class="row" style="margin-right:-4%;margin-left:4%;margin-bottom:2%;margin-top:2%;">
        <div class="col-sm-2">
            <select class="recording-media">

                <option value="record-audio">Microphone</option>

            </select>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2"> 

                <select class="media-container-format">
                        <option>Default</option>
                        <option>Opus</option>
                        <option>PCM</option>
                        <option>Ogg</option>
                </select>

        </div>
<div class="1"></div>


        <div class="col-sm-2"> 
                <select class="media-bitrates">
                        <option value="default">Default Bitrates</option>
                        <option value="8000000">1 Mbps</option>
                        <option value="800000">100 Kbps</option>
                        <option value="8000">1 Kbps</option>
    
                    </select>     
        </div>
        <div class="col-sm-1"></div>
      </div>



          <div class="col-sm-12"> -->
              <!-- <h5>**Your Buttons will be Activate Automatically when it will need.</h5> -->
            <!-- </div>
            <section class="experiment recordrtc">
                <div class="col-sm-2"style="margin-right:-4%;margin-left:7%;margin-bottom:12%;margin-top:6%;">
          
                      <button id="btn-start-recording"><span class="glyphicon glyphicon-play"></span>Start Recording</button>
                </div>
                <div class="col-sm-2"></div> -->
                <!-- Pause Button Didn't Work-->
                   <!-- <div class="col-sm-2">
                      <button id="btn-pause-recording" style="display: none; font-size: 15px;">Pause</button>
                  </div> 
                  <div class="col-sm-2"></div>
                  <div class="col-sm-2">
                          <div style="text-align: center; display: none;"> 
                                  <button id="save-to-disk">Save</button>
                         
                              </div>
                      
                      <div id="recording-player"></div>
                  </div>
                      
                 </section>
</div> -->
