

<!--Navbar Start -->
<app-navbarex></app-navbarex>
<!--Navbar End-->

<!--Container Start-->
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">

<!--Sidebar Start-->        
<app-sidebarex></app-sidebarex>
<!--Sidebar End--> 

<!--Content container-->
<div class="col-xs-12 col-sm-9 mainpage" style= " margin-top: 5%;margin-bottom: 5%;">

    <!-- Container -->

    <h5 class="latest-text w3_latest_text" style="text-align: left;">Phonetics Sound</h5>
<div id ="levels">
    
    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#model1" data-dismiss="collapse">Model 1
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    </button>
    
</div>

<div id="model1" class="collapse">
 
    
    <div id="myCarousel" class="carousel slide">
        
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <a routerLink="/VowelsTutorial">
                        <div class="col-sm-3">
                                <div class="card">
                                    <div class="card-image">
                                        <img class="img-responsive" 
                                             src="http://via.placeholder.com/1000x700">
                                    </div>
                                    <div class="card-content">
                                        Phonetics Sound 1
                                    </div>
                                </div>
                         </div>
                        </a>
                         <div class="col-sm-3">
                                <div class="card">
                                    <div class="card-image">
                                        <img class="img-responsive" 
                                             src="http://via.placeholder.com/1000x700">
                                    </div>
                                    <div class="card-content">
                                        Phonetics Sound 2
                                    </div>
                                </div>
                         </div>
                    <div class="col-sm-3">
                            <div class="card">
                                <div class="card-image">
                                    <img class="img-responsive" 
                                         src="http://via.placeholder.com/1000x700">
                                </div>
                                <div class="card-content">
                                    Phonetics Sound 3
                                </div>
                            </div>
                     </div>
                     <div class="col-sm-3">
                            <div class="card">
                                <div class="card-image">
                                    <img class="img-responsive" 
                                         src="http://via.placeholder.com/1000x700">
                                </div>
                                <div class="card-content">
                                    Phonetics Sound 4
                                </div>
                            </div>
                     </div>
                </div>
                <!--/row-->
            </div>
            <!--/item-->
            <!--/item-->
        </div>
        <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div>
    <!--/myCarousel-->
</div> 

 

<div id ="levels">   
    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#model2" data-dismiss="collapse">Model 2
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    </button>
</div>

<div id="model2" class="collapse">
    <div id="myCarousel2" class="carousel slide">
<div class="carousel-inner">
    <div class="item active">
        <div class="row">
                <div class="col-sm-3">
                        <div class="card">
                            <div class="card-image">
                                <img class="img-responsive" 
                                     src="http://via.placeholder.com/1000x700">
                            </div>
                            <div class="card-content">
                                  Video 2
                            </div>
                        </div>
                 </div> 
                 <div class="col-sm-3">
                        <div class="card">
                            <div class="card-image">
                                <img class="img-responsive" 
                                     src="http://via.placeholder.com/1000x700">
                            </div>
                            <div class="card-content">
                                  Video 2
                            </div>
                        </div>
                 </div>
                 <div class="col-sm-3">
                        <div class="card">
                            <div class="card-image">
                                <img class="img-responsive" 
                                     src="http://via.placeholder.com/1000x700">
                            </div>
                            <div class="card-content">
                                  Video 3
                            </div>
                        </div>
                 </div>
                 <div class="col-sm-3">
                        <div class="card">
                            <div class="card-image">
                                <img class="img-responsive" 
                                     src="http://via.placeholder.com/1000x700">
                            </div>
                            <div class="card-content">
                                  Video 4
                            </div>
                        </div>
                 </div>
        </div>
           
    </div>
            
</div>
            

<a class="left carousel-control" href="#myCarousel2" data-slide="prev">‹</a>

    <a class="right carousel-control" href="#myCarousel2" data-slide="next">›</a>
</div>

</div>

         <!---------- .modal for Vowels---------->


         <!---------- .modal for Vowels---------->
         



        </div>

        <!--Content End-->

        </div>
        </div>

        <!--Container End-->
