                       <!--Navbar Start-->

                       <!-- <div id="content"> -->

                        <nav class="navbar navbar-fixed-top navbar-inverse">
                          <div class="container-fluid">
                            <div class="navbar-header">
                              <a class="navbar-brand" routerLink="/mainpage">
                                  <img src="../assets/images/LogobaseII.png" class="img-fluid d-block" 
                                          style="width: 180px;
                                                 height :60px;
                                                 margin-top: -12px;
                                                 margin-left: 10px;" 
                                                 alt="">
                              </a>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                  <ul class="nav navbar-nav navbar-right">
                                   
                                    
                 
                                    <li> 
                                        <a href="#">
                                           <i class="glyphicon glyphicon-envelope"></i>
                                         </a>
                                    </li>
                  
                                    <li> 
                                        <a href="#">
                                           <i class="glyphicon glyphicon-user"></i>
                                         </a>
                                    </li>
                                  </ul>
                              </div>
                          </div>
                        </nav>
                       

                        
                  <!-- </div> -->
                 
                                              <!--Navbar End-->
<!-- Sidebar-->




    <div class="sidenav">
  
   <div class="list">
         
      <ul class="list-unstyled components">
          <li>
              <a  href="#contentsubmenu" data-toggle="collapse" aria-expanded="false">
                  <i class="glyphicon glyphicon-book"></i>
                  Content
              </a>
              <ul class="collapse list-unstyled" id="contentsubmenu">
                  <li><a routerLink="/FileContent">Content From File</a></li>
                  <li><a routerLink="/WebContent">Web Content</a></li>
                  <li><a routerLink="/CreamsonContent">Creamson Content</a></li>
              </ul>
          </li>
          <li>
              <a href="#readingsubmenu" data-toggle="collapse" aria-expanded="false">
                  <i class="glyphicon glyphicon-duplicate"></i>
                  Reading
              </a>
              <ul class="collapse list-unstyled" id="readingsubmenu">
                  <li><a routerLink="/ReadingStrategy">Reading Strategy</a></li>
                  <li><a routerLink="/Reading">Reading Text</a></li>
                  
              </ul>
          </li>
  
          <li>
              <a href="#writingsubmenu" data-toggle="collapse" aria-expanded="false">
                  <i class="glyphicon glyphicon-pencil"></i>
                  Writing
              </a>
              <ul class="collapse list-unstyled" id="writingsubmenu">
                  <li><a routerLink="/WritingStrategy">Writing Strategy</a></li>
                  <li><a routerLink="/Writing">Writing Topic</a></li>
                  
              </ul>
          </li>
   
          <li>
              <a href="#speakingsubmenu" data-toggle="collapse" aria-expanded="false">
                  <i class="glyphicon glyphicon-bullhorn"></i>
                  Speaking
              </a>
              <ul class="collapse list-unstyled" id="speakingsubmenu">
                  <li><a routerLink="/SpeakingStrategy">Speaking Strategy</a></li>
                  <li><a routerLink="/Phonetics">Phonetics</a></li>
                  <li><a routerLink="/mainpage">Speaking Activity</a></li>
                  
              </ul>
          </li>
          <li>
              <a href="#listeningsubmenu" data-toggle="collapse" aria-expanded="false">
                  <i class="glyphicon glyphicon-headphones"></i>
                  Listening
              </a>
              <ul class="collapse list-unstyled" id="listeningsubmenu">
                  <li><a routerLink="/ListeningStrategy">Listening Strategy</a></li>
                  <li><a routerLink="/Listening">Listening Topic</a></li>
                  <li><a routerLink="/mainpage">Be A Lyricist</a></li>
                  <li><a routerLink="/mainpage">Dictation</a></li>
              </ul>
          </li>
          <li>
              <a href="#vocabularysubmenu" data-toggle="collapse" aria-expanded="false">
                  <i class="glyphicon glyphicon-text-size"></i>
                  Vocabulary
              </a>
              <ul class="collapse list-unstyled" id="vocabularysubmenu">
                  <li><a routerLink="/IntroVocabulary">Introduction To Vocabulary</a></li>
                  
                  <li><a routerLink="/mainpage">Computer Games</a></li>
                  
              </ul>
          </li>
          <li>
              <a href="#grammarsubmenu" data-toggle="collapse" aria-expanded="false">
                  <i class="glyphicon glyphicon-text-background"></i>
                  Grammar
              </a>
              <ul class="collapse list-unstyled" id="grammarsubmenu">
                  <li><a routerLink="/IntGrammar">Introduction To Grammar</a></li>
                  
                  <li><a routerLink="/Grammar">Grammar Topics</a></li>
                  
              </ul>
          </li>
          <li>
              <a routerLink="/mainpage">
                  <i class="glyphicon glyphicon-dashboard"></i>
                  Dashboard
              </a>
          </li>
          
      </ul>
  </div>
       </div>
   
  
  
  
  
  <!-- Sidebar end-->