<!--Navbar Start -->
<app-navbarex></app-navbarex>
<!--Navbar End-->

<!--Container Start-->
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">

<!--Sidebar Start-->        
<app-sidebarex></app-sidebarex>
<!--Sidebar End--> 

<!--Content container-->
<div class="col-xs-12 col-sm-9 mainpage" style= " margin-top: 5%;margin-bottom: 5%;">

    <!-- Container -->
    <h5 class="latest-text w3_latest_text" style="text-align: left;">Speaking Activity</h5>
    
     <a routerLink="/Letsspeak"> 
        <div class="col-sm-3">
        <div class="card">
            <div class="card-image">
        
            <img class="img-responsive" src="http://bigessaywriter.com/uploads/2088/images/bigessaywriter.com.free-persuasive-essay-about-advantages-of-reading-fiction.jpg">
             
            </div>
            
            <div class="card-content">
                  Lets Speak
               
               </div>
            </div>
            </div>
    </a>



    <a routerLink="/PicDescriber">
        <div class="col-sm-3">
        <div class="card">
            <div class="card-image">
        
            <img class="img-responsive" src="http://bigessaywriter.com/uploads/2088/images/bigessaywriter.com.free-persuasive-essay-about-advantages-of-reading-fiction.jpg">
             
            </div>
            
            <div class="card-content">
                   Picture Desciber 
               
               </div>
            </div>
            </div>
    </a>
    <a routerLink= "/Conversations"> 
        <div class="col-sm-3">
        <div class="card">
            <div class="card-image">
        
            <img class="img-responsive" src="http://bigessaywriter.com/uploads/2088/images/bigessaywriter.com.free-persuasive-essay-about-advantages-of-reading-fiction.jpg">
             
            </div>
            
            <div class="card-content">
                   Conversations 
               
               </div>
            </div>


            </div>
    </a>
    <a routerLink="/Narrator" > 
        <div class="col-sm-3">
        <div class="card">
            <div class="card-image">
        
            <img class="img-responsive" src="http://bigessaywriter.com/uploads/2088/images/bigessaywriter.com.free-persuasive-essay-about-advantages-of-reading-fiction.jpg">
             
            </div>
            
            <div class="card-content">
                   Be a Narrator
               
               </div>
            </div>
            </div>
    </a>
    

  </div>

  <!--Content End-->

  </div>
  </div>

  <!--Container End-->    