<!--Navbar Start -->
<app-navbarex></app-navbarex>
<!--Navbar End-->

<!--Container Start-->
	<div class="container-fluid">
		<div class="row row-offcanvas row-offcanvas-left">

	<!--Sidebar Start-->        
	<app-sidebarex></app-sidebarex>
	<!--Sidebar End--> 


	<!--Content container-->
			<div class="col-xs-12 col-sm-9 mainpage" style= " margin-top: 5%;margin-bottom: 5%;">
<h5 class="latest-text w3_latest_text" style="text-align: left;">CreamsonContent>Prose>Happy Prince>Assessment</h5>
									<!-- Container -->
									

<h1>Mcq Assessment</h1>
		
		<form method="post" id="quiz">
		
            <ol>
            
                <li>
                
                    <div class="blue-lebel"> CSS Stands for</div>
                    
                    <div class="answer">
                        <input type="radio" name="question-1-answers" id="question-1-answers-A" value="A" />
                        <label  for="question-1-answers-A">A) Computer Styled Sections </label>
                        &nbsp;
                        <input type="radio" name="question-1-answers" id="question-1-answers-B" value="B" />
                        <label  for="question-1-answers-B">B) Cascading Style Sheets</label>
                        &nbsp;
                        <input type="radio" name="question-1-answers" id="question-1-answers-C" value="C" />
                        <label  for="question-1-answers-C">C) Crazy Solid Shapes</label>
                        &nbsp;
                        <input type="radio" name="question-1-answers" id="question-1-answers-D" value="D" />
                        <label  for="question-1-answers-D">D) None of the above</label>
                    </div>
                
                </li>
                
                <li>
                
                        <div class="blue-lebel">Internet Explorer 6 was released in</div>
                    
                    <div class="answer">
                        <input type="radio" name="question-2-answers" id="question-2-answers-A" value="A" />
                        <label  for="question-2-answers-A">A) 2001</label>
                        <input  type="radio" name="question-2-answers" id="question-2-answers-B" value="B" />
                        <label  for="question-2-answers-B">B) 1998</label>
                        <input type="radio" name="question-2-answers" id="question-2-answers-C" value="C" />
                        <label for="question-2-answers-C">C) 2006</label>
                        <input type="radio" name="question-2-answers" id="question-2-answers-D" value="D" />
                        <label  for="question-2-answers-D">D) 2003</label>
                    </div>
                
                </li>
                
                <li>
                
                    <div class="blue-lebel">SEO Stand for</div>
                    
                    <div class="answer">
                        <input type="radio" name="question-3-answers" id="question-3-answers-A" value="A" />
                        <label for="question-3-answers-A">A) Secret Enterprise Organizations</label>
                   
                        <input type="radio" name="question-3-answers" id="question-3-answers-B" value="B" />
                        <label for="question-3-answers-B">B) Special Endowment Opportunity</label>
                   
                        <input type="radio" name="question-3-answers" id="question-3-answers-C" value="C" />
                        <label for="question-3-answers-C">C) Search Engine Optimization</label>
                    
                        <input type="radio" name="question-3-answers" id="question-3-answers-D" value="D" />
                        <label for="question-3-answers-D">D) Seals End Olives</label>
                    </div>
                
                </li>
                
                <li>
                
                     <div class="blue-lebel">A 404 Error is</div>
                    
                    <div class="answer">
                        <input type="radio" name="question-4-answers" id="question-4-answers-A" value="A" />
                        <label for="question-4-answers-A">A) is an HTTP Status Code meaning Page Not Found</label>
                   
                        <input type="radio" name="question-4-answers" id="question-4-answers-B" value="B" />
                        <label for="question-4-answers-B">B) is a good excuse for a clever design</label>
                   
                        <input type="radio" name="question-4-answers" id="question-4-answers-C" value="C" />
                        <label for="question-4-answers-C">C) should be monitored for in web analytics</label>
                   
                        <input type="radio" name="question-4-answers" id="question-4-answers-D" value="D" />
                        <label for="question-4-answers-D">D) All of the above</label>
                    </div>
                
                </li>
                
                <li>
                
                     <div class="blue-lebel">Your favorite website is</div>
                    
                    <div class="answer">
                        <input type="radio" name="question-5-answers" id="question-5-answers-A" value="A" />
                        <label for="question-5-answers-A">A) CSS-Tricks</label>
                   
                        <input type="radio" name="question-5-answers" id="question-5-answers-B" value="B" />
                        <label for="question-5-answers-B">B) CSS-Tricks</label>
                  
                        <input type="radio" name="question-5-answers" id="question-5-answers-C" value="C" />
                        <label for="question-5-answers-C">C) CSS-Tricks</label>
                  
                        <input type="radio" name="question-5-answers" id="question-5-answers-D" value="D" />
                        <label for="question-5-answers-D">D) CSS-Tricks</label>
                    </div>
                
                </li>
            
            </ol>
            
        


          


	<button style="margin-right: 30em;" type="button" class="btn btn-success">  Submit </button>
          
		</form>
	

									
			</div>
		</div>
	</div>


