<!--Navbar Start -->
<app-navbarex></app-navbarex>
<!--Navbar End-->

<!--Container Start-->


<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">

<!--Sidebar Start-->        
        <app-sidebarex></app-sidebarex>
<!--Sidebar End--> 

<!--Content-->

<div class="col-xs-12 col-sm-9 mainpage" style= " margin-top: 5%;margin-bottom: 5%;">

        <h5 class="latest-text w3_latest_text" style="text-align: left;">File Content</h5>   
<div class="col-sm-2"></div>
<div class="col-sm-8">

    <input id="fileItem" type="file" accept="video/*" />
        <br />
        <br />
        <video controls autoplay style="height: 400px; width: 600px;"></video>
    
<!--Content End-->
</div>
<div class="col-sm-2"></div>
    </div>
</div>
</div>
<!--Container End-->  


                                <!--Script Section -->

        