

<app-navbarex></app-navbarex>
<!--Navbar End-->

<!--Container Start-->
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">

<!--Sidebar Start-->        
<app-sidebarex></app-sidebarex>
<!--Sidebar End--> 

<!--Content container-->
<div class="col-xs-12 col-sm-9 mainpage" style= " margin-top: 5%;margin-bottom: 5%;">

    <h5 class="latest-text w3_latest_text" style="text-align: left;">Summary</h5>

    <div class="col-sm-4"></div>
    <div class="col-sm-3" style="border-style: solid;">
      <h3>Score Sheet !!!</h3>

    </div>
    <div class="col-sm-3"></div>
Date: 13th July 2018

  </div>
        
</div>    

<!-- .end-->
  
      </div>