<!--Navbar Start -->
<app-navbarex></app-navbarex>
<!--Navbar End-->

<!--Container Start-->
	<div class="container-fluid">
		<div class="row row-offcanvas row-offcanvas-left">

	<!--Sidebar Start-->        
	<app-sidebarex></app-sidebarex>
	<!--Sidebar End--> 


	<!--Content container-->
			<div class="col-xs-12 col-sm-9 mainpage" style= " margin-top: 5%;margin-bottom: 5%;">
<h5 class="latest-text w3_latest_text" style="text-align: left;">CreamsonContent -Prose-Happy Prince -Assessment</h5>
									<!-- Container -->
									<h3>True/False</h3>



 
		
		<form method="post" id="quiz">
		
            <ol>
            
                <li>
                
                     <div class="blue-lebel">CSS Stands for</div>
                    
                    <div>
                      <input type="radio" name="question-2-answers" id="question-2-answers-A" value="A" />
                      <label for="question-2-answers-A">False</label>
                  </div>
                  
                  <div>
                      <input type="radio" name="question-2-answers" id="question-2-answers-B" value="B" />
                      <label for="question-2-answers-B">True</label>
                  </div>
                
                </li>
                
                <li>
                
                     <div class="blue-lebel">Internet Explorer 6 was released in</div>
                    
                    <div>
                        <input type="radio" name="question-2-answers" id="question-2-answers-A" value="A" />
                        <label for="question-2-answers-A">False</label>
                    </div>
                    
                    <div>
                        <input type="radio" name="question-2-answers" id="question-2-answers-B" value="B" />
                        <label for="question-2-answers-B">True</label>
                    </div>
                    
                
                
                </li>
                
                <li>
                
                     <div class="blue-lebel">SEO Stand for</div>
                    
                    <div>
                      <input type="radio" name="question-2-answers" id="question-2-answers-A" value="A" />
                      <label for="question-2-answers-A">False</label>
                  </div>
                  
                  <div>
                      <input type="radio" name="question-2-answers" id="question-2-answers-B" value="B" />
                      <label for="question-2-answers-B">True</label>
                  </div>
                
                </li>
                
                <li>
                
                    <div class="blue-lebel">A 404 Error...</div>
                    
                    <div>
                      <input type="radio" name="question-2-answers" id="question-2-answers-A" value="A" />
                      <label for="question-2-answers-A">False</label>
                  </div>
                  
                  <div>
                      <input type="radio" name="question-2-answers" id="question-2-answers-B" value="B" />
                      <label for="question-2-answers-B">True</label>
                  </div>
                
                </li>
                
                
            </ol>
            


         <button type="button" class="btn btn-success">  Submit   </button>
		</form>
	
	
									
			</div>
		</div>
	</div>



