

<app-navbarex></app-navbarex>
<!--Navbar End-->

<!--Container Start-->
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">

<!--Sidebar Start-->        
<app-sidebarex></app-sidebarex>
<!--Sidebar End--> 

<!--Content container-->
<div class="col-xs-12 col-sm-8 mainpage" style= " margin-top: 5%;margin-bottom: 5%;">

    <!-- Container -->

    <h5 class="latest-text w3_latest_text" style="text-align: left;">Reading/Prose-List</h5>
    <a routerLink="/Video"> 
      <div class="col-sm-3">
      <div class="card">
          <div class="card-image">
      
          <img class="img-responsive" src="https://i.pinimg.com/originals/6f/aa/96/6faa96d6fdb3afec6f1375e02f3e473f.jpg">
           
          </div>
          
          <div class="card-content">
              A Dog Named Duke
             
             </div>
          </div>
          </div>
  </a>
  <a > 
          <div class="col-sm-3">
          <div class="card">
              <div class="card-image">
          
              <img class="img-responsive" src="https://libbyvine.files.wordpress.com/2016/02/img_8362.jpg?w=1000&h=700&crop=1">
               
              </div>
              
              <div class="card-content">
                  Down the Rabbit 
                 
                 </div>
              </div>
              </div>
      

       
  </a>
    <!-- .modal for drama-->
  
  
  </div> 
          </div>
      </div>
      
      <!--Container End-->                               