<!--Navbar Start -->
<app-navbarex></app-navbarex>
<!--Navbar End-->

<!--Container Start-->
	<div class="container-fluid">
		<div class="row row-offcanvas row-offcanvas-left">

	<!--Sidebar Start-->        
	<app-sidebarex></app-sidebarex>
	<!--Sidebar End--> 


	<!--Content container-->
			<div class="col-xs-12 col-sm-9 mainpage" style= " margin-top: 5%;margin-bottom: 5%;">
<h5 class="latest-text w3_latest_text" style="text-align: left;">CreamsonContent >Prose >Happy Prince >Assessment</h5>
									<!-- Container -->
									<h3>Fill The Blanks</h3>

		
		<form method="post" id="quiz">
		
            <ol>
            
                <li>
                
                      <div class="blue-lebel"> 1. what your name ___________.</div>
                    
                  
                </li>
                
                <li>
                
                      <div class="blue-lebel">2. Internet Explorer 6 was released in___________.</div>
                    
                </li>
                
                <li>
                
                      <div class="blue-lebel">3. SEO Stand for___________.</div>
                    
                    
                
                </li>
                
                <li>
                
                      <div class="blue-lebel">4. A 404 Error___________.</div>
                    
                    
                
                </li>
            
            
            </ol>
            
        
           


    <button type="button" class="btn btn-success">  Submit  </button>
		</form>
	

									
			</div>
		</div>
	</div>





