<!--Navbar Start -->
<app-navbarex></app-navbarex>
<!--Navbar End-->

<!--Container Start-->
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">

<!--Sidebar Start-->        
        <app-sidebarex></app-sidebarex>
<!--Sidebar End-->  

<!--Content-->
        <div class="col-xs-12 col-sm-9 mainpage">
<h4 style="text-align: center;margin-top:36px;">Your Progress Status</h4>

    
            <!-- card2 Projects -->
            <!-- <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="53"
                    aria-valuemin="0" aria-valuemax="100" style="width:53%">
                      53% Complete
                    </div>
                  </div> -->

                  <div class="progress progress skill-bar active2">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" >
                        60%
                    </div>
                </div>
        

            <div class="container col-sm-3 col-md mb-sm-2 mb-0">
                <!-- <div class="card2"> -->
                    <div class="card2-image">
                    <img class="img-responsive"
                        src="../../assets/images/1.png">
                    </div>
                    <!-- <div class="card2-content">Content</div>                     -->
                <!-- </div> -->
                <h4> Content  </h4>
                <div class="overlay">
                    <div class="text"><h3 style="text-align:center;">Content</h3>
                        <br>
                        Prose & Poetry as per school curriculum,
                         delivered through Animated Audio Visual Effects,
                          will ensure easy retention and effective recall.</div>
                  </div>
                <div class="progress skill-bar active2">
                        <div class="progress-bar progress-bar-success" role="progressbar"  aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
                            15%
                        </div>
                      </div>
            </div>

    
        
    
        
            <div class="container col-sm-3 col-md mb-sm-2 mb-0">
                <!-- <div class="card2"> -->        
                    <div class="card2-image">
                    <img class="img-responsive"
                        src="../../assets/images/4.png">
                    </div>
                    <!-- <div class="card2-content">Writing</div>   -->
                
                <!-- </div> -->
                <h4> Writing  </h4>
                <div class="overlay">
                        <div class="text"><h3 style="text-align:center;">Writing</h3>
                            <br>
                            Audio Visual training on writing skills
                             and best practices with wide variety of
                              reference material.</div>
                      </div>

                <div class="progress skill-bar active2">
                        <div class="progress-bar progress-bar-success" role="progressbar"  aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
                      </div>
            </div>
        
    
        
                    <div class="container col-sm-3 col-md mb-sm-2 mb-0">
                        <!-- <div class="card2"> -->
                            <div class="card2-image">
                        <img class="img-responsive"
                            src="../../assets/images/82.png">
                            </div>
                            
                            <!-- <div class="card2-content">
                            <p>Speaking</p>
                            </div> -->

                            
                    <!-- </div> -->
                    <h4> Speaking  </h4>
                    <div class="overlay">
                            <div class="text"><h3 style="text-align:center;">Speaking</h3>
                                <br>
                                Activities enabling speaking habits and effective communication,
                                 through machine guided practice and self learning and evaluation.</div>
                          </div>
                    <div class="progress skill-bar active2">
                            <div class="progress-bar progress-bar-success" role="progressbar"  aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                          </div>
                    </div> 
             
                    
                    <div class="container col-sm-3 col-md mb-sm-2 mb-0">
                            <!-- <div class="card2"> -->
                                <div class="card2-image">
                                <img class="img-responsive"
                                    src="../../assets/images/63.png">
                                </div>
                                <!-- <div class="card2-content">Listening</div> -->
                            
                            <!-- </div> -->
                            <h4> Listening  </h4>
                            <div class="overlay">
                                    <div class="text"><h3 style="text-align:center;">Listening</h3>
                                        <br>
                                        Listening Activities made interesting with Stories, Movies,
                                         Commentaries, News Reports, , Recipes, Cartoons, Conversations
                                          etc. to effectively highlight oration skills and teach the core
                                           elements of a native speaker.</div>
                                  </div>
                            <div class="progress skill-bar active2">
                                    <div class="progress-bar progress-bar-success" role="progressbar"  aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"> 55%</div>
                                  </div>
                        </div>
                    
                
                    
                
                    
                        <div class="container col-sm-3 col-md mb-sm-2 mb-0">
                            <!-- <div class="card2"> -->
                                <div class="card2-image">
                                <img class="img-responsive"
                                    src="../../assets/images/88.png">
                                </div>
                                <!-- <div class="card2-content">Grammar</div> -->

                            <!-- </div> -->
                            <h4> Grammar  </h4>
                            <div class="overlay">
                                    <div class="text"><h3 style="text-align:center;">Grammar</h3>
                                        <br>
                                        Getting the basics right is uncompromisable.
                                         Deriving from examples and delivery through
                                          Audio Visual content is the epitome in the
                                           making of immaculate communicators.</div>
                                  </div>
                            <div class="progress skill-bar active2">
                                    <div class="progress-bar progress-bar-success" role="progressbar"  aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                                  </div>
                        </div>
                    
                
                    
                                <div class="container col-sm-3 col-md mb-sm-2 mb-0">
                                    <!-- <div class="card2"> -->
                                        <div class="card2-image">
                                    <img class="img-responsive"
                                        src="../../assets/images/98.png">
                                        </div>
                                        
                                        <!-- <div class="card2-content">
                                        <p>Vocabulary</p>
                                        </div> -->
                                <!-- </div> -->
                                <h4> Vocabulary  </h4>
                                <div class="overlay">
                                        <div class="text"><h3 style="text-align:center;">Vocabulary</h3>
                                            <br>
                                            Word Stock is an essential trait of an effective communicator.
                                             Our Vocabulary module enhances work stock with effective Audio
                                              Visual Module, Games and Puzzels.</div>
                                      </div>
                                <div class="progress skill-bar active2">
                                        <div class="progress-bar progress-bar-success" role="progressbar"  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                                      </div>
                                </div> 

                                <div class="container col-sm-3 col-md mb-sm-2 mb-0">
                                        <!-- <div class="card2"> -->
                                            <div class="card2-image">
                                        <img class="img-responsive"
                                            src="../../assets/images/48.png">
                                            </div>
  
                                            <!-- <div class="card2-content">
                                            <p>Reading</p>
                                            </div> -->
                                    <!-- </div> -->
                                   <h4> Reading  </h4>
                                   <div class="overlay">
                                        <div class="text"><h3 style="text-align:center;">Reading</h3>
                                            <br>
                                            Reading content made interesting with variety of supporting
                                             activities to inculcate effective reading methodologies and
                                              retention techniques.</div>
                                      </div>
                                    <div class="progress skill-bar active2">
                                            <div class="progress-bar progress-bar-success" role="progressbar"  aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                          </div>
                                    </div>

                                                
        </div>

<!--Content End-->

    </div>
</div>

<!--Container End-->  
