<app-navbarex></app-navbarex>
<!--Navbar End-->

<!--Container Start-->
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">

<!--Sidebar Start-->        
<app-sidebarex></app-sidebarex>
<!--Sidebar End--> 

<!--Content container-->
<div class="col-xs-12 col-sm-9 mainpage" style= " margin-top: 5%;margin-bottom: 5%;">

    <h5 class="latest-text w3_latest_text" style="text-align: left;">My Activity</h5>


    <div class="container col-sm-2 col-md mb-sm-2 mb-0" id="1">
        <!-- <div class="card2"> -->
            <div class="card2-image">
            <img class="img-responsive"
                src="../../assets/images/1.png">
            </div>
            <!-- <div class="card2-content">Content</div>                     -->
        <!-- </div> -->
        <h4> Content  </h4>
        </div>
        <div class="container col-sm-2 col-md mb-sm-2 mb-0" id="2">
            <!-- <div class="card2"> -->
                <div class="card2-image">
            <img class="img-responsive"
                src="../../assets/images/82.png">
                </div>
                
                
        <h4> Speaking  </h4>
        </div>
    
    <div class="container col-sm-2 col-md mb-sm-2 mb-0" id="3">
        <!-- <div class="card2"> -->        
            <div class="card2-image">
            <img class="img-responsive"
                src="../../assets/images/4.png">
            </div>
            <!-- <div class="card2-content">Writing</div>   -->
        
        <!-- </div> -->
        <h4> Writing  </h4>
        </div>
        <div class="container col-sm-2 col-md mb-sm-2 mb-0"id="4">
        <!-- <div class="card2"> -->
            <div class="card2-image">
            <img class="img-responsive"
                src="../../assets/images/63.png">
            </div>
            <!-- <div class="card2-content">Listening</div> -->
        
        <!-- </div> -->
        <h4> Listening  </h4>
        </div>
        <div class="container col-sm-2 col-md mb-sm-2 mb-0" id="5">
            <!-- <div class="card2"> -->
                <div class="card2-image">
                <img class="img-responsive"
                    src="../../assets/images/88.png">
                </div>
                <!-- <div class="card2-content">Grammar</div> -->

            <!-- </div> -->
            <h4> Grammar  </h4>
            </div>
            <div class="container col-sm-2 col-md mb-sm-2 mb-0" id="6">
                <!-- <div class="card2"> -->
                    <div class="card2-image">
                <img class="img-responsive"
                    src="../../assets/images/98.png">
                    </div>
                   
            <h4> Vocabulary  </h4>
            </div>

            <!-- <div class="container col-sm-2 col-md mb-sm-2 mb-0">
            
                    <div class="card2-image">
                <img class="img-responsive"
                    src="../../assets/images/48.png">
                    </div>

                   
           <h4> Reading  </h4>
           </div> -->


           <div class="content content1">
            <table class="table table-condensed" style="border-collapse:collapse;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Type</th>
                        <th>Chapter</th>
                        <th>Section</th>
                        <th>Description</th>


                    </tr>
                </thead>
                <tbody>
                    <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                        <td>1</td>
                        <td>05 May 2013</td>
                        <td>Audio Recording</td>
                        
                        <td>MP3</td>
                        <th>Frog In A Well</th>
                        <th>Content</th>
                        <td>Content/Frog In A Well /audio.mp3</td>
                    </tr>
                    <tr >
                        <td colspan="6" class="hiddenRow"><div class="accordian-body collapse" id="demo1"> Demo Content1 </div> </td>
                    </tr>
                    
                    <tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
                        <td>2</td>
                        <td>15 May 2018</td>
                        <td>Audio Recording</td>
                        
                        <td>MP3</td>
                        <th>Essay</th>
                        <th>Writing</th>
                        <td>Writing/Essay /audio2.mp3</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="hiddenRow"><div id="demo2" class="accordian-body collapse">Demo Content2</div></td>
                    </tr>
                    
                    <tr data-toggle="collapse" data-target="#demo3" class="accordion-toggle">
                        <td>3</td>
                        <td>05 JUNE 2016</td>
                        <td>Audio Recording</td>
                        
                        <td>MP3</td>
                        <th>Phonetics</th>
                        <th>Speaking</th>
                        <td>Speaking/Phonetics /audio3.mp3</td>
                    </tr>
                    <tr>
                        <td colspan="6"  class="hiddenRow"><div id="demo3" class="accordian-body collapse">Demo Content3</div></td>
                    </tr>
            
                    <tr data-toggle="collapse" data-target="#demo4" class="accordion-toggle">
                        <td>4</td>
                        <td>24 July 2018</td>
                        <td>Audio Recording</td>
                        
                        <td>MP3</td>
                        <th>Phonetics</th>
                        <th>Listening</th>
                        <td>Listening/Phonetics /audio4.mp3</td>
                    </tr>
                    <tr>
                        <td colspan="6"  class="hiddenRow"><div id="demo4" class="accordian-body collapse">Demo Content4</div></td>
                    </tr>
            
                    <tr data-toggle="collapse" data-target="#demo5" class="accordion-toggle">
                        <td>5</td>
                        <td>10 October 2018</td>
                        <td>Audio Recording</td>
                        
                        <td>MP3</td>
                        <th>Narrator</th>
                        <th>Grammar</th>
                        <td>Grammar/Narrator /audio5.mp3</td>
                    </tr>
                    <tr>
                        <td colspan="6"  class="hiddenRow"><div id="demo5" class="accordian-body collapse">Demo Content5</div></td>
                    </tr>		
                </tbody>
            </table>
          </div>
          
  </div>
        
</div>    

<!-- .end-->
  
      </div>