<!--Navbar Start -->
<app-navbarex></app-navbarex>
<!--Navbar End-->

<!--Container Start-->
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">

<!--Sidebar Start-->        
<app-sidebarex></app-sidebarex>
<!--Sidebar End--> 

<!--Content container-->
<div class="col-xs-12 col-sm-9 mainpage" style= " margin-top: 5%;margin-bottom: 5%;">

    <!-- Container -->
    <h5 class="latest-text w3_latest_text" style="text-align: left;">Phonetics</h5>

        <!-- Card Projects -->

    <a data-toggle="modal" routerLink="/IntroPhonetics">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-image">
                <img class="img-responsive" src="http://www.hinduwebsite.com/general/images/dictionary.jpg">
                </div>
                <div class="card-content">Introduction to Phonetics</div>                    
            </div>
        </div>
    </a>

    <a  routerLink="/PhoneticsSound">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-image">
                <img class="img-responsive" src="https://media.guim.co.uk/e8e83d1446657309db5a07a1fbe1b383844385d3/0_27_2047_1228/1000.jpg">
                </div>
                <div class="card-content">Phonetics Sound</div>                    
            </div>
        </div>
    </a>
    
                
                         <!-- Card Projects -->
                                                 <!-- .modal for Introductionsto Ponetics-->

        </div>

        <!--Content End-->

        </div>
        </div>

        <!--Container End--> 