<div class="navbar navbar-fixed-top navbar-default" role="navigation" style="height: 10%">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" routerLink="/mainpage">
            <img src="../assets/images/logo_b.png" class="img-fluid d-block" 
                    style="width: 90px;
                           height :60px;
                           margin-top: -12px;
                           margin-left: 10px;" 
                           alt="">
        </a>
      </div>
      <div class="collapse navbar-collapse">
       
        <ul class="nav navbar-nav navbar-right">
            <li> 
              Arunav Bhattacharyya  <img src="../../assets/images/Arunavda.JPG" class="img-circle" style="margin-top:2%;margin-bottom:8%;margin-top:2%;margin-bottom:2%;" alt="Cinque Terre" width="50" height="50"> 
            </li>
            <li> 
                <a href="https://mail.google.com/mail/u/0/#inbox">
                   <i class="glyphicon glyphicon-envelope"><span class="unread">3</span></i>
                 </a>
            </li>

            
          </ul>
      </div>
      <!-- /.nav-collapse -->
  </div>
  <!-- /.container -->
</div>
<!-- /.navbar -->