

<app-navbarex></app-navbarex>
<!--Navbar End-->

<!--Container Start-->
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">

<!--Sidebar Start-->        
<app-sidebarex></app-sidebarex>
<!--Sidebar End--> 

<!--Content container-->
<div class="col-xs-12 col-sm-8 mainpage" style= " margin-top: 5%;margin-bottom: 5%;">

    <!-- Container -->

    <h5 class="latest-text w3_latest_text" style="text-align: left;">Reading/Poetry-List</h5>
    <a routerLink="/VideoII"> 
      <div class="col-sm-3">
      <div class="card">
          <div class="card-image">
      
          <img class="img-responsive" src="http://farm8.staticflickr.com/7205/6920013119_fafb128520_o.jpg">
           
          </div>
          
          <div class="card-content">
            A Frog in a Well
             
             </div>
          </div>
          </div>
  </a>
  <a > 
          <div class="col-sm-3">
          <div class="card">
              <div class="card-image">
          
              <img class="img-responsive" src="https://farm8.staticflickr.com/7311/8902103290_0119f04568_b.jpg">
               
              </div>
              
              <div class="card-content">
                Tamarind
                 
                 </div>
              </div>
              </div>
      

       
  </a>
    <!-- .modal for drama-->
  
  
  </div> 
          </div>
      </div>
      
      <!--Container End-->                               